#venue-list {
  min-height: 100px;
}
.truck {
  display: block;
  height: 100px;
}
.logo {
  height: 100px;
}
.logo img {
  height: 100px;
  width: 100px;
}
.name-desc {
  height: 100px;
}
.info {
  height: 100px;
  text-align: center;
}
.info p {
  height: 16%;
}
