body {
  background-image: url(../img/shattered.png);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
@media screen and (max-width: 2880px) {
  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 40px;
  }
  p, h3, h4, span, em, strong {
    font-family: 'Archivo Narrow', sans-serif;
  }
  header h4 {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
  }
  #venue-list {
    min-height: 125px;
  }
  .open {
    background: linear-gradient(to right, transparent, rgba(52,250,100,0.5)), url(../img/truck-bg.jpg);
  }
  .closed {
    background: linear-gradient(to right, transparent, rgba(52,201,241,0.4)), url(../img/truck-bg.jpg);
  }
  .truck {
    display: block;
    height: 125px;
    border-radius: 75px 5px 5px 75px;
    margin: 5px 0;
    }
  }
  .logo {
    height: 125px;
  }
  .logo img {
    position: relative;
    right: 15px;
    max-height: 125px;
    max-width: 125px;
    border: 5px solid rgba(218,219,219,0.9);
    z-index: 5;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
  }
  .name-desc {
    height: 125px;
    font-weight: 200;
  }
  h4 {
    font-weight: 600;
  }
  .info {
    height: 125px;
    text-align: right;
  }
  .info p {
    height: 12%;
  }
  p img {
    width: 15px;
    height: auto;
  }
  .name-desc p {
    line-height: 1.1em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 3.3em;
    max-height: 3.3em;
  }
  .left {
    position: relative;
    clear: both;
    top: 10px;
    float: left;
    font-weight: 500;
  }
  .right {
    position: relative;
    top: 10px;
    float: right;
    font-weight: 500;
  }
  .transition {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
       -o-transform: scale(1.5);
  }
}
@media screen and (max-width: 1200px) {
  .name-desc p {
    max-height: 2em;
  }
}
@media screen and (max-width: 720px) {
  .name-desc {
    left: 5px;
    bottom: 7px;
  }
  .left,
  .right {
    font-size: 12px;
  }
}
@media screen and (max-width: 580px) {
  p,
  span {
    font-size: 12px;
  }
  .name-desc p {
    position: relative;
    bottom: 5px;
  }
  .truck,
  .logo,
  .info,
  .name-desc {
    height: 110px;
  }
  .logo img {
    width: 110px;
  }
  .info {
    position: relative;
    left: 10px;
  }
  .info p {
    height: 10%
  }
}
