#venue-list {
  min-height: 125px;
}
.truck {
  display: block;
  height: 125px;
  border-radius: 75px 5px 5px 75px;
  margin: 5px 0;
}
.logo {
  height: 125px;
}
.logo img {
  position: absolute;
  left: 1px;
  height: 125px;
  width: 125px;
}
.name-desc {
  height: 125px;
  font-weight: 300;
}
.info {
  height: 125px;
  text-align: right;
}
.info p {
  height: 12%;
}
p img {
  width: 15px;
  height: auto;
}
.name-desc p {
  line-height: 1.25em;
}
.left {
  float: left;
  font-weight: 500;
}
.right {
  float: right;
  font-weight: 500;
}
