<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>WTT</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body ng-controller="TruckController">
  <div class="container">
    <ul ng-model="trucks">
      <li ng-repeat="truck in trucks">
        {{ truck.venue.name }}
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <<script type="text/javascript" src="js/lib/ngGeolocation.js">
  </script>
  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
